# Ch02. Variable
- string
- float
- integer
- boolean

In [1]:
# 여러 이름 동시에 할당 가능.
two = deux = dos = 2 # 순서는 dos -> deux -> two
two

2

In [3]:
#이 다음에 two를 할당하면 나머지도 바뀔까? 
two = 4
print(two, deux)
# 안바뀐다. 불변 객체이기 때문

4 2

In [4]:
#그럼 주소(id)는 바뀌었을까?
id(two), id(deux)

(1502524369296, 1502524369232)

In [5]:
# 리스트는 가변 객체
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [6]:
id(p), id(q)

(1502599879104, 1502599879104)

In [8]:
p[0] = 9
p, q 
# q는 바꾸지 않았는데, 자동으로 바뀜

([9, 2, 3], [9, 2, 3])

In [10]:
# ID도 바뀌었을까?
id(p), id(q)

(1502599879104, 1502599879104)

### [좋은 변수명]
- 간결하고 명확한 이름
- 의미가 담겨야 함 (a, b, c,...잊어 버리자)
- 코드에는 '의미가 담기고' 주석에는 의도가 담긴다.
    - 예: the number of students
         n < the_numner_of_students (너무 길다) < num_students <- 파이썬이 더 선호
    - 카멜 표기법: numStudents (like 낙타)

### [자료형 변환, 형 변환]
- str(<변환할 값>), int(), float(), bool()

In [12]:
a = 10

# str
str(a)
# float
float(a)
# bool
bool(a) # True, False만 있음. 어떤 값이 False인지만 기억하기

True

주의할 점 1: float -> int

In [14]:
x = 10.7
int(x)
# int 변환시 소수점은 저 멀리 날아간다.(소수점 내림)

10

In [16]:
y = 19.8
print(int(x + y))
print(int(x) + int(y)) # =,+ 등등 연산자 띄어쓰기 꼭 지키기
# ↓결과 값이 달라진다

30
29

주의할 점 2: str -> int/float

In [17]:
i = '10'
int(i), float(i)

(10, 10.0)

In [18]:
j = '10.2'
int(j) #int에 맞지 않는 스트링을 바꾸러고 하면 에러가 남!

ValueError: invalid literal for int() with base 10: '10.2'

### [질의 응답]
Q. ID가 뭔가요?

A. 변수에는 공간이 위치하는 곳. 주소가 있음.
그것을 id로 찾음
id()는 변수가 저장된 메모리 주소 찾는 함수

Q. 주소는 컴퓨터에 따라 다른가요?

A. 때에 따라, 다 달라짐. 불변 객체가 변할 때, 메모리 주소가 바뀌는 것만 알면 됨.

### [꿀팁 print()]

In [20]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space X, \n
print(dog, cat, lion) #space O, \n

dogcatlion
dog cat lion

In [21]:
print(dog, cat, lion,sep=' ', end='\n') #default
#sep의 디폴트는 띄어쓰기.
#end의 티폴트는 개행(\n)
print(dog, cat, lion,sep='/', end='\n\n')
print('EOL')

dog cat lion
dog/cat/lion

EOL

In [22]:
### 문자열과 변수 같이 쓰고 싶을 때

#1.
print("My favorite animal is ", dog)

#2
print(f"My favorite animal is {dog}.") # 이게 좋음

My favorite animal is  dog
My favorite animal is dog.

코드 줄이 짧을 때;(semicolon)을 이용해 한줄로 쓸 수 있다.

In [23]:
dog = 'dog' ; cat = 'cat' ; lion = 'lion'
print(dog)

dog

## part 2 | input() 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력 받는 값은 문자열로 인식이 된다.
- 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 한다.

In [25]:
input("Hello?")

Hello? Hi

'Hi'

In [27]:
input('나이가 어떻게 되나요?') # 연산 안됨
int(input('나이가 어떻게 되나요?')) #연산 됨

나이가 어떻게 되나요? 55
나이가 어떻게 되나요? 55

55

- 변수에 할당하는 방법

In [28]:
#1.
age = input('나이가 어떻게 되나요?')

나이가 어떻게 되나요? 15

In [29]:
age

'15'

In [30]:
#2.
print("나이가?")
age = input()

나이가?

 88

In [31]:
age

'88'

### Quiz 1
- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 =화씨"

In [38]:
celsius = float(input('섭씨를 입력하세요')) 
fahrenheit = (celsius * 1.8) + 32 
print(f'화씨는 {fahrenheit}도 입니다.')
#변수명은 약어 지양, 온도니까 int가 아닌 float으로 받아야
#변수명 대문자 쓰지말자

섭씨를 입력하세요 66.4

화씨는 151.52도 입니다.

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값: 
    - "==택배 정보=="
    - 수취인 성명: <이름>
    - 수취인 수조: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: <가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용
- 입력은 3개

In [44]:
name = input('성명을 입력하세요:')
adress = input('주소를 입력하세요:')
weight = float(input('물건의 무게(g)를 입력하세요:'))
cost_shipping = 3000
cost_stuff = weight * 5
cost_sum = cost_shipping + cost_stuff

print("==택배 정보==")
print(f"수취인 성명: {name}")
print(f"수취인 주소: {adress}")
print(f"배송비: {cost_shipping}원")
print(f"물건 비용: {cost_stuff}원")
print(f"총 합계: {cost_sum}원")
#배송비도 변수로 받기
#한 print안에 성명~합계까지 넣어서 할 수 있음 (엔터로 구분해서 print 한줄만 쓰기 가능)

성명을 입력하세요: 장정아
주소를 입력하세요: 서울특별시 동대문구 이문로
물건의 무게(g)를 입력하세요: 480.9

==택배 정보==
수취인 성명: 장정아
수취인 주소: 서울특별시 동대문구 이문로
배송비: 3000원
물건 비용: 2404.5원
총 합계: 5404.5원

# Ch03. Numbers

### [boolean]
- 형 변환할 때 True, False인지 기억하라
    - False : '',None,0, ...
- 조건식에서 많이 쓴다. 예: 만약 이 조건이  True라면...

In [45]:
bool(1)

True

In [46]:
bool('')

False

### [integer]
- 소수점 없음
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. 예: 05
    - 예외적으로 0bxx. => 다른 진수 표현시 사용
- 리터럴: 글자 자체를 의미. 예: 4
- 숫자는 공백이 많아도 무시가 된다.
- 10,000dnjs -> 10, 000원 두 개로 인식 => _ 사용
    - 예: 10_000

In [47]:
a = -9
8 + a

-1

In [48]:
a = 09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_8028/2890110653.py, line 1)

In [49]:
-9 +                           8

-1

In [50]:
a = 10_000
print(a)

10000

### [연산]
- 연산자 | operator: +, -, ...
- 피연산자 | operand: 4,5, ....
- 수식 | expression

In [51]:
x = 4
y = 9

x + y
x - y
x * y
x / y

# 거듭 제곱 exponential
x ** y

262144

- 나눗셈에서 주의할 사항

In [53]:
#1. division by zero => 주의 (y != 0)
#2. 몫, 나머지
x//y, x % y, x/y

(0, 4, 0.4444444444444444)

In [54]:
divmod(x,y)

(0, 4)

### [복합 대입 연산자 | compound assignment operator]

In [56]:
a = 5
a - 3 
print(a)

5

In [57]:
a = a - 3
#1. a-3 계산
#2. 임시변수 할당 temp = a - 3 
#3. a = a-3
a -= 3

In [58]:
a += 3
a -= 3
a *= 3
a /= 3
u = u + 1 #이대로 하면 오류. 왜? u를 먼저 변수로 만들어 값 초기화해야함

NameError: name 'u' is not defined

### Quiz 3.
- 정수를 입력 받고 3의 배수인지 확인하세요.
- =홀수인지 확인하세요.

In [67]:
integer = int(input("정수 입력"))
check_3 = not(integer % 3) 
check_odd = not(integer % 2) 
print(f"3의 배수인가요?{check_3}")
print(f"홀수인가요?{check_odd}")

# 혹은 if 문 사용한 경우 #
if integer % 3 == 0 :
    print('3의 배수입니다.')
else :
    print('3의 배수가 아닙니다.')

if integer % 2 != 0 :
    print('홀수입니다.')
else :
    print('짝수입니다.')

정수 입력 30

3의 배수인가요?True
홀수인가요?True
3의 배수입니다.
짝수입니다.

### [지수 표현]
- e, E 둘다 가능
- 앞 부분은 float, int
- 뒷 부분은 int만 올 수 있음
    - e 기준으로 뒷 부분이 양수면 0 앞으로 가고
    - e 기준으로 뒷 부분이 음수면 0 뒤로 간다. (소수점 표현)
    - 0.0789e 이렇게는 굳이 안씀. 7.89e 이런식으로 사용

In [68]:
1.0e6 # float

1000000.0

In [69]:
789e-6

0.000789

# Ch04.조건문, if
 - code structure

### [코드 짜는 룰]
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도를 표현한다.
    - '#' hash, sharp, ...
    - 해시가 시작된 부분부터 그 라인 끝까지가 주석이 됨
    - 문자열 안에 들어있는 해시는 문자열로 인식
    - 엔터 치더라도 주석으로 인식하는 방법 : """<주석>"""
    
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 넘을것 같으면 백 슬래쉬로 끊어준다. (\)

In [ ]:
a = 3 # 여기부터 라인 끝
b = 2

In [71]:
example = 'hey ###'
example
"""
주석 1
주석 2
주석 3
엔터 쳐도 주석으로 인식 됨

"""

'\n주석 1\n주석 2\n주석 3\n엔터 쳐도 주석으로 인식 됨\n\n'

- 조건 1개

if <조건식>: #콜론 마크 앞에 띄어쓰기 X
    <실행할 코드>

In [72]:
if 4 != 9:
    print('yaay!')

yaay!

- 조건 2개:

    if <조건식1>:
        <실행할 코드1>
    else:
        <실행할 코드2>

In [74]:
if 4 == 9 :
    print('Yaay!')
else:
    print('Hey!')

Hey!

- 조건 3개 이상:

    if <조건식1>:
        <실행할 코드1>
    elif <조건식2>
        <실행할 코드3>
    ...
    else:
        <실행할 코드2>

### [비교연산자]
- x < y, x <= y
- x > y, x >= y
- x != y (값)
- x == y (값)
- x is y (값, 메모리주소)
- x is not y

### Quiz 4.
- 학점 부여하기
- 학점 입력받아서 
    - 95점 이상이면 A+
    - 80, B
    - 70, C
    - 그외, D

In [82]:
#변수 입력
score = int(input('점수를 입력하세요'))
grade = ''

#조건문
if score >= 95 :
    grade = 'A+'
elif score >= 80 : #위에서 95보다 작다고 판정이 났기 때문에, 당연히 작음. 굳이 95 <= 할 필요 X
    grade = 'B'
elif score >= 70 :
    grade = 'C'
else :
    grade = 'D'

#출력
print(f'학점: {grade}')

점수를 입력하세요 89

학점: B

### Quiz 5.
- 아이디와 비번 입력 받아 둘 다 일치하면 로그인하기
- 아이디, 비번 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환

In [81]:
user_id = 'hufs123'
user_password = '1954'

given_id = input('아이디를 입력하세요.')
given_password = input('비밀번호를 입력하세요.')

if given_id == user_id and given_password == user_password :
    print('환영합니다.')
else :
    print('아이디가 존재하지 않거나, 비밀번호가 일치하지 않습니다.')

아이디를 입력하세요. hufs123
비밀번호를 입력하세요. 1954

환영합니다.

### [논리 연산자]
- 여러 조건식을 비교할 때 사용
- 예: 10 < x < 20 
    - 파이썬에서만 가능한 표현
    - (x > 10) 혹은 (x < 20)

- and, & : 둘다 참이면 True
- or, | : 둘 중 하나만 참이여도 True
- not : 참 -> False, 거짓 -> True

### Quiz 6.
- Quiz 4 확장판
- 결석 횟수를 받아서, 점수가 80 점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로.
- if 구조를 크게 2번 가져갈 수 있다.
- Quiz 6 숙제

In [86]:
#변수 입력
score = int(input('점수를 입력하세요:'))
attend = int(input('결석 횟수를 입력하세요:'))
grade = ''


#조건문
if score >= 95 :
    grade = 'A+'
elif score >= 80 : #위에서 95보다 작다고 판정이 났기 때문에, 당연히 작음. 굳이 95 <= 할 필요 X
    grade = 'B'
elif score >= 70 :
    grade = 'C'
else :
    grade = 'D'

if score >= 80 and attend >= 2 :
    grade = 'F'
             
#출력
print(f'학점: {grade}')

점수를 입력하세요: 97
결석 횟수를 입력하세요: 2

학점: F

#### [안내 사항] 
- 다음주에 퀴즈 준비. 정각에 eclass에 올라감
- 이클래스에 복습 파일 업로드