Ch 08

## Dictionaty
- 영어사전
    - 단어: 뜻
    - 키: 값
    - 순서가 없다 <=> 인덱싱이 불가 
    - "키로 값을 찾는다"
        - 키는 중복되지 않는 고유한 값
    - 가변 타입: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형변환: 'dict()'
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a: [1,2,3,4] , ...

In [1]:
empty = dict()
empy = {}
# set 도 {}
# 그러나 {}는 dict 타입
empty = {}
empty = set() # set으로 하려면 이렇게
type(empty)

set

In [2]:
a = {1,2,3} # set
a = {1:'apple',2:'banana',3:'kiwi'} #dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [3]:
b = {'':'', '':''}
b = dict(apple='a',banana='b' ) # dict()이용시 키 값에 ''  안붙여도 됨
b

{'apple': 'a', 'banana': 'b'}

In [5]:
# 출석부로 딕셔너리 만들기
# 이름 학번 학과

# james 202201 경제학과
# laura 202203 스페인어과
# louis 202202 컴공과

attendance = dict(james=(202201,'경제학과'), laura=(202203,'스페인어과'), louis=(202202,'컴공과'))
attendance

# 이름은 키가 안됨. 이름은 중복될 수 있기 때문에
# 따라서 키는 학번임.
# 키에 '' 안붙이면 변수가 되는듯.. '' 붙여라
# 
attendance = dict(james=(202201,'경제학과'), laura=(202203,'스페인어과'), louis=(202202,'컴공과'))

#베스트
{202201:['james','경제학과']} .....

{'james': (202201, '경제학과'),
 'laura': (202203, '스페인어과'),
 'louis': (202202, '컴공과')}

## 형 변환

In [6]:
ex1 = [[1,2],[2,3],[3,4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [7]:
ex2 = [(1,2),(2,3),(1,3)]
dict(ex2)
# 마지막거만 남고 지워진다.

{1: 3, 2: 3}

In [9]:
ex3 = ['abb']
dict(ex3)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [11]:
ex3 = ['ab','bc','cd']
dict(ex3)
# 두자리까지 가능

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [2]:
phythons = { # 성 이름
    'chapman':'Graham',
    "Cleese":"John",
    'Idle':'Eric',
    'Jones':'Terry',
    'Palin':'michael'

}
phythons['Idle']

'Eric'

In [14]:
phythons['hwa']

KeyError: 'hwa'

In [15]:
phythons['Idle'] = 'james' # 변경
phythons

{'chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'michael'}

In [16]:
phythons['Hwa'] = 'chloe' #(없을때는)추가
phythons

{'chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'michael',
 'Hwa': 'chloe'}

In [17]:
# 예외없이 하는 방법
# 1. in 
'Hwa' in phythons

True

In [23]:
# 2. get()
phythons.get('Lee',0) #없는 키는 None 반환, 내가 원하는 반환값 설정 가능!

0

### [전체 조회]
- keys()
- values()
- items()

In [24]:
phythons.keys() # 리스트 타입은 아닌데 메모리를 적게 먹음

dict_keys(['chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [25]:
phythons.values()

dict_values(['Graham', 'John', 'james', 'Terry', 'michael', 'chloe'])

In [26]:
phythons.items() # 키와 값이 투퓰 형태 -> 순회시 많이 사용

dict_items([('chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'james'), ('Jones', 'Terry'), ('Palin', 'michael'), ('Hwa', 'chloe')])

In [27]:
list(phythons.keys()) # 리스트 형변환

['chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [29]:
for k,v in phythons.items(): #튜플형태기 때문에 가능 / 리스트컴프리 가능
    print(f'{k}={v}')

chapman=Graham
Cleese=John
Idle=james
Jones=Terry
Palin=michael
Hwa=chloe

In [37]:
# 키, 값 리스트 컴프리
[(k,v) for k,v in phythons.items()]

[('chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'james'),
 ('Jones', 'Terry'),
 ('Palin', 'michael'),
 ('Hwa', 'chloe')]

In [36]:
# 키 리스트 컴프리
[k[0] for k in phythons.items()] # 0=key, 1=value으로 사용 가능

['chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [31]:
[k for k in phythons] # 아무것도 뒤에 없으면 키값만 나옴

['chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [33]:
# animal: num_leg 딕셔너리 만들기

animals = 'cat snake monkey ant spider'.split()
legs= 4,0,2,4,8

In [35]:
animals = 'cat snake monkey ant spider'.split()
legs= 4,0,2,4,8
animal_leg = {}

for i,animal in enumerate(animals):
    animal_leg[animal] = legs[i]
    
animal_leg

# 피드백: range(len(animals))로 사용해도 좋음. 굳이 enumerate 사용안해도된다

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [ ]:
# zip()함수 사용하는 방법도 있다.
animals = []
animals = 'cat snake monkey ant spider'.split()
legs= 4,0,2,4,8
animal_leg = {}

for aniaml, leg in zip(animals,legs):
    animal_leg[animal] = leg
    
animal_leg

Q. pythons 에서 성: 이름, 성 첫글자만, 이름은 글자 개수로 이루어진 튜플
(성,이름) 을 리스트로 반환하기
- dict compre 쓰지 말기
- 순회한다
- 각 요소 변화

In [40]:
# 내 풀이
[(first[0],len(name)) for first,name in phythons.items()]

[('c', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [4]:
# 인덱스를 이용한 두번째 방법
[(k[0][0], len(k[1])) for k in phythons.items()]

[('c', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7)]

### [값 수정, 삭제, 복제, 비교]

In [49]:
phythons

{'chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'michael',
 'Hwa': 'chloe'}

In [51]:
others = {
    'Marx':'Grouch',
    'Howard':'Moe'

}
others

{'Marx': 'Grouch', 'Howard': 'Moe'}

In [52]:
phythons.update(others) # 있는 키라면 마지막을 기준으로 업데이트

In [53]:
phythons

{'chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'michael',
 'Hwa': 'chloe',
 'Marx': 'Grouch',
 'Howard': 'Moe'}

In [54]:
# py3에서만 있는 기능
{**others,**phythons}

{'Marx': 'Grouch',
 'Howard': 'Moe',
 'chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'michael',
 'Hwa': 'chloe'}

In [55]:
# 삭제
del phythons['Hwa']

In [61]:
del phythons['Lee']

KeyError: 'Lee'

In [ ]:
del phythons

In [57]:
phythons.pop('Marx')

'Grouch'

In [58]:
phythons

{'chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'michael',
 'Howard': 'Moe'}

In [60]:
phythons.pop('Lee',0) #없으면 예외는 나지만, 예외시 출력 값을 지정할 수 있다.

0

In [62]:
# 전체 삭제
# 1. clear() 사용
phythons.clear()
phythons

# 2. 빈 딕셔너리 선언
phythons = {}

{}

### [복제]
- 할당
- 얇은 복사
- 깊은 복사

In [63]:
# {}도 가변 객체이기 때문에 리스트와 비슷
a = {1:1,2:2,3:3}
b = a
a[1] = 45
a,b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [64]:
# 얉은 복사
c = a.copy()
a[2] = 22
a,c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [65]:
# 얇은 복사 문제
a = {1:[1,2,3],2:[2,3,4]}
b= a.copy()
a[1][0] = 100
a,b
# 리스트 2차원 이상으로 갔을 때 또 똑같이 참조가 됨

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [68]:
# 딥
a = {}
a = {1:[1,2,3],2:[2,3,4]}
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a,e

({1: [1, 999, 3], 2: [2, 3, 4]}, {1: [1, 2, 3], 2: [2, 3, 4]})

### [비교]
- 딕셔너리 끼리의 비교
- 같다, 다르다만 된다. 크고 작고는 안됨

In [69]:
a != b

True

### ex
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기 (순회하라)
    del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기 1) key 2) value

In [6]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [7]:
# 내 풀이
solar = {}
#1.
for i in range(len(solar_kor)):
    solar[solar_kor[i]] = solar_eng[i]
#2.
solar['명왕성'] = 'pluto'

#3.
for k in list(solar.keys()):
    if k[len(k)-1] != '성': #.endswith()사용도 좋은 듯
        solar.pop(k)
        
        
# 4. 값 정렬
# 4.1 키와 값 정렬
sorted_key = sorted([key for key in list(solar.keys())])
sorted_value = sorted([value for value in list(solar.values())])

# 4.2 정렬된 새 sor
sorted_solar = {}
for i in range(len(sorted_key)):
    sorted_solar[sorted_key[i]] = sorted_value[i]
sorted_solar

{'금성': 'jupiter',
 '명왕성': 'mars',
 '목성': 'mercury',
 '수성': 'neptune',
 '천왕성': 'pluto',
 '토성': 'saturn',
 '해왕성': 'uranus',
 '화성': 'venus'}

In [76]:
#3.
for k in list(solar.keys()):
    if k[len(k)-1] != '성':
        solar.pop(k)
solar

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [77]:
# 4. 값 정렬
# 4.1 키와 값 정렬
sorted_key = sorted([key for key in list(solar.keys())])
sorted_value = sorted([value for value in list(solar.values())])

# 4.2 정렬된 새 sor
sorted_solar = {}
for i in range(len(sorted_key)):
    sorted_solar[sorted_key[i]] = sorted_value[i]
sorted_solar

# 문제점: 화성은 비너스가 아님..

{'금성': 'jupiter',
 '명왕성': 'mars',
 '목성': 'mercury',
 '수성': 'neptune',
 '천왕성': 'pluto',
 '토성': 'saturn',
 '해왕성': 'uranus',
 '화성': 'venus'}

In [ ]:
# 4. 정렬 수정 - 값을 비교해서 새로 넣기
sorted_solar = {}
for i in range(len(sorted_key)):

In [ ]:
# 3을 리스트 컴프리로 바꾸기
# 원래 3.
for k in list(solar.keys()):
    if k[len(k)-1] != '성': #.endswith()사용도 좋은 듯
        solar.pop(k)

In [81]:
# 리스트 컴프리 버전
# 내 풀이

dict([(key,value) for key,value in solar.items() if key.endswith('성')])

# 정답
ditc[(k,system[k]) for k in system if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [79]:
dict([('sk','sj')])

{'sk': 'sj'}

### [dictionary 컴프리핸션]

In [82]:
letter = 'apple'
# a:1 / p: 2 ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
# 단어의 모음 세기 with 딕셔너리 컴프리
vowels = 'aeiou'
words = 'onomatopoeia'

# word를 순회, 워드 뽑기
len([w for w in words if w in vowls])

In [83]:
'a' in 'ae'

True

In [ ]:
# 답
# vowels 순회
{v:word.count(v) for v in vowels if v in word}

# word를 순회, 워드 뽑기
{w: word.count(w) for w in set(word) if w in vowels}

In [ ]:
{K:v for k,v in system.items() }?

### [sorting]

In [ ]:
sorted(system) # 딕셔너리는 순서가 없기 때문에 리스트로 바뀌어서 출력됨

In [ ]:
sorted(system.items()) # 첫번째는 한글 기준, 두번째는 영어 기준

In [ ]:
# 둘다 정렬
sorted(system.items(),key=fx) # 키를 기준으로 정렬

In [ ]:
def fx(x):
    return x[0] # 키를 기준으로 정렬

In [ ]:
sorted(system.items(),key=lambda x:x[1]) # lambda함수 이용해 값 기준 정렬

### [set]
- "중복이 없다"
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다.

In [84]:
empty = set() # {}라고 하면 안됨
empty

set()

In [85]:
a = {1,2,3}
a

{1, 2, 3}

In [86]:
a = set(1,2,3) #()안에는 튜플 혹은 리스트가 들어가야함

TypeError: set expected at most 1 argument, got 3

In [89]:
a = set((1,2,3)) #선언, 형변환
a

{1, 2, 3}

In [90]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [91]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [ ]:
drinks = {}
drinks = {
    'martini': {'vodka','vermouth'},
    'black russian': {'vodka','kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye','vermouth','bitters'},
    'screwdriver': {'orange juice', 'vodka'},

}

# 보드카가 포함된 술 출력
for k in list(drinks.keys()):
    if 'vodka' in drinks[k]:
        print(k)

# 보드카가 있지만 크림과 버모스 없는 술 출력
result= []

for k in list(drinks.keys()):
    if 'vodka' in drinks[k] and " ".join(drinks[k]).find('cream') == -1 \
    and " ".join(drinks[k]).find('vermouth') == -1:
        print(k)

martini
black russian
white russian
screwdriver
black russian
screwdriver

In [13]:
for k,v in drinks.items():
    #if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
    if 'vodka' in v and not('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

In [105]:
a = {1,2,3}
b = {2,3,4}

# 교집합 | intersection
a.intersection(b)
a & b
# 합집합 | union
a.union(b)
a | b
# 차집합 | difference
a.difference(b)
a - b , b - a

{1}

In [115]:
# 컴프리헨션 이용해서 바꾸기 
# 원래 코드 ↓
for k,v in drinks.items():
    #if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
    if 'vodka' in v and not('cream' in v or 'vermouth' in v):
        print(k)

# 보드카가 있지만 크림과 버모스 없는 술 출력

{k:v for k,v in drinks.items() if v.difference({'cream','vermouth'}) == v}

{'black russian': {'kahlua', 'vodka'},
 'screwdriver': {'orange juice', 'vodka'}}

In [10]:
# 정답 : intersection 사용
for k,v in drinks.items():
    if v & {'vodca'} and not v & {'cream','vermouth'}:
        print(k)

In [12]:
for k,v in drinks.items():
    if 'vodca' in v and not v & {'cream','vermouth'}:
        print(k)

In [ ]:
# issubset

In [118]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [119]:
# frozenset | 가변 객체를 불변으로 만드는
set([1,2])
frozenset([1,2])

frozenset({1, 2})

### project
- 매주 팀별로 1개 파일 제출
- 2팀 100 2팀 70 50 30
- 디버깅 툴이 주어짐
- 수업 30분 동안 팀마다 코드 설명 : 랜덤 선정, 성의 없는 답변은 점수 X
- 제출: 수요일 오전부터 시작해 자정까지.
- import는 한 쪽으로 미는 등 정리해서 컬러스크립트로.

In [ ]:
# 디버깅: 만약 example이 파일 이름이라면
!pip install pylint
!pylint example.py # 점수 10점 만점에 몇 점인지도 알려줌

# doc style 디버깅
!pip install pydocstyle
!pydocstyle example.py